.StoreSection {
  background-color: whitesmoke;
  border-radius: 12px;
  padding: 16px;
  min-height: 320px;
  margin: 0.75rem 0;
}

.right-aligned {
  float: right;
}

#paybackButton {
  margin-top: 5px;
}

.displayCol {
  text-align: center;
}
